body{
  background-color:black;
  background: url("https://images.unsplash.com/photo-1497973147870-699a7dc610e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b19e7630f839e3991dc052e2530ea8b&auto=format&fit=crop&w=1996&q=80") center;
  margin-top:50px;
  margin-bottom:50px;
}
h1{
  color:white;
  font-family:"Verdana";
  font-weight: bold;
  font-size: 65px;
  margin-top:50px;
}
#header{
  background:rgba(0,0,0,0.5);
  border:8px white solid;
  border-radius:60px;
}
img{
  width:100px;
  margin-top: 5px;
  border-radius:15px;
}
.col-md-4{
  padding:5px;
    color:white;
  font-family:"Verdana";
  font-weight: bold;
}
.row{
  background: rgba(0,0,0,.5);
  border: 5px white solid;
  border-radius:25px;
  margin-bottom:8px;
  margin-top:8px;
}
h2{
  color:white;
  font-family:"Verdana";
  font-weight: bold;
}
