body{
  background-color:black;
  background: url("https://images.unsplash.com/photo-1497973147870-699a7dc610e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b19e7630f839e3991dc052e2530ea8b&auto=format&fit=crop&w=1996&q=80") no-repeat fixed center;

}
h1{
  color:black;
  font-family:"Verdana";
  font-weight: bold;
  font-size: 65px;
  padding-bottom: 15px;
  margin-top:50px;
}
p{
  color:black;
  font-family:"Times New Roman";
  font-style:italic;
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 20px;
}
.quotes{
  width:33%;
  margin-right:auto;
  margin-left:auto;
  border-color:black;
  border-style:solid;
  border-radius:10px;
  margin-top:20px;
  padding:20px;
  height:auto;
  color:black;
  font-size: 25px;
}
.quote{
  font-size:30px;
  font-weight: 900;
}
.author{
  font-size:20px;
  font-style:italic;
}